/*
 * Content Component
 *
 * Basically everything to get the boilerplate up and running at a minimum.
 */

/*------------------------------------*\
    #HEADER-AND-FOOTER
\*------------------------------------*/

.header,
.footer {
    width: 100%;
    height: auto;
}

.header__inner,
.footer__inner {
    grid-column: col-start / col-end;
    grid-row: 1 / 2;
    -ms-grid-column: col-start / col-end;
    -ms-grid-row: 1 / 2;
}


/*------------------------------------*\
    #CONTENT
\*------------------------------------*/

.content {
    width: 100%;
    height: auto;
}


/*------------------------------------*\
    #MAIN-CONTENT
\*------------------------------------*/

.main {
    grid-column: content-start / content-end;
    grid-row: 1 / 2;
    -ms-grid-column: content-start / content-end;
    -ms-grid-row: 1 / 2;

    @include bp-md {
        height: 100%;
        grid-column: main-content-start / main-content-end;
        -ms-grid-column: main-content-start / main-content-end;
    }
}


/*------------------------------------*\
    #SIDEBARS
\*------------------------------------*/

/*-- Sidebars > General Sidebar Setup --*/

.sidebar {
    height: 100%;

    @include bp-md {
        grid-row: 1 / 2;
        -ms-grid-row: 1 / 2;
    }
}

/*-- Sidebars > Left Sidebar --*/

.sidebar--left {
    grid-column: left-sidebar-start / left-sidebar-end;
    grid-row: 1 / 3;
    -ms-grid-column: left-sidebar-start / left-sidebar-end;
    -ms-grid-row: 1 / 3;

    @include bp-md {
        // grid-column: col 1 / col 4;
    }
}

/*-- Sidebars > Right Sidebar --*/

.sidebar--right {
    grid-column: content-start / content-end;
    grid-row: 2 / 3;
    -ms-grid-column: content-start / content-end;
    -ms-grid-row: 2 / 3;

    @include bp-md {
        grid-column: right-sidebar-start / right-sidebar-end;
        -ms-grid-column: right-sidebar-start / right-sidebar-end;
    }
}

/*-- Sidebars > Mobile Sidebar --*/

.sidebar--mobile {
    display: none;
    z-index: 100;
    position: absolute;

    @include bp-md {
        display: block;
        z-index: unset;
        max-width: unset;
        position: static;
    }
}

.sidebar--mobile--visible {
    display: block;
}

/*-- Sidebars > Mobile Sidebar > Toggle --*/

.sidebar--mobile-toggle {
    display: block;

    @include bp-md {
        display: none;
    }
}

.sidebar--mobile-toggle--active {
    .sidebar--mobile-toggle__icon {
        /* fill: color here; */
    }

    &:hover {
        .sidebar--mobile-toggle__icon {
            /* fill: color here; */
        }
    }
}

.sidebar--mobile-toggle__icon {
    width: 2.5rem;
    height: 2.5rem;
    /* fill: color here; */
    &:hover,
    &:focus {
        /* fill: color here; */
    }
}
