/*
 * Grid Component
 *
 * Sets the layout for the grid container. Overall, this is similar to
 * the 12 column grid used by Twitter Bootstrap.
 */

/*------------------------------------*\
    #GRID
\*------------------------------------*/

.grid-container {
    align-content: start;
    align-items: start;
    display: -ms-grid;
    display: grid;
    grid-auto-rows: auto;
    -ms-grid-columns: calc(100% / 12) calc(100% / 12) calc(100% / 12) calc(100% / 12) calc(100% / 12) calc(100% / 12) calc(100% / 12) calc(100% / 12) calc(100% / 12) calc(100% / 12) calc(100% / 12) calc(100% / 12);
    grid-template-columns: [col-start col] repeat(11, calc(100% / 12) [col]) calc(100% / 12) [col col-end];
    -ms-grid-rows: auto auto;
    grid-template-rows: auto;
    position: relative;
}

.grid-container--main {
    -ms-grid-columns: 12rem auto 12rem;
    grid-template-columns: [content-start left-sidebar-start] 12rem [left-sidebar-end main-content-start] auto [main-content-end right-sidebar-start] 12rem [right-sidebar-end content-end];
}
