/*
 * Grid Component
 *
 * Sets the layout for the grid container. Overall, this is similar to
 * the 12 column grid used by Twitter Bootstrap.
 */

/*------------------------------------*\
    #GRID
\*------------------------------------*/

.grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-template-columns: [col-start col] calc(100% / 12) [col] calc(100% / 12) [col] calc(100% / 12) [col] calc(100% / 12) [col] calc(100% / 12) [col] calc(100% / 12) [col] calc(100% / 12) [col] calc(100% / 12) [col] calc(100% / 12) [col] calc(100% / 12) [col] calc(100% / 12) [col] calc(100% / 12) [col col-end];
    grid-template-columns: [col-start col] repeat(11, calc(100% / 12) [col]) calc(100% / 12) [col col-end];
    -ms-grid-template-rows: auto;
    grid-template-rows: auto;
    -ms-grid-auto-columns: 0rem;
    grid-auto-columns: 0rem;
    -ms-grid-auto-rows: auto;
    grid-auto-rows: auto;
    align-items: start;
    align-content: start;
    position: relative;
}

.grid-container--main {
    -ms-grid-template-columns: [content-start left-sidebar-start] calc((100% / 12) * 6) [left-sidebar-end main-content-start] auto [main-content-end right-sidebar-start] calc((100% / 12) * 6) [right-sidebar-end content-end];
    grid-template-columns: [content-start left-sidebar-start] calc((100% / 12) * 6) [left-sidebar-end main-content-start] auto [main-content-end right-sidebar-start] calc((100% / 12) * 6) [right-sidebar-end content-end];

    @include bp-md {
        -ms-grid-template-columns: [content-start left-sidebar-start] 12rem [left-sidebar-end main-content-start] auto [main-content-end right-sidebar-start] 12rem [right-sidebar-end content-end];
        grid-template-columns: [content-start left-sidebar-start] 12rem [left-sidebar-end main-content-start] auto [main-content-end right-sidebar-start] 12rem [right-sidebar-end content-end];
    }
}
